@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

.navbar .nav-link {
  color: #f75249;
  font-weight: 550;
}
.navbar .nav-link:hover {
  color: #ff0d00;
}
.navbar .nav-link:active {
  color: #ff7d77;
}
.navbar .nav-link:focus {
  color: #ff7d77;
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
}
.navbar .dropdown:hover .dropdown-menu .btn {
  transition: 0.1s;
  width: 100%;
  text-align: left;
}
.navbar .dropdown:hover .dropdown-menu .btn:hover {
  text-align: center;
  font-weight: 510;
}

.popimg img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border-radius: 40px;
}

.intro {
  color: #000;
  background-image: url(../image/banner01.jpg);
  background-color: rgb(240, 237, 237);
}

.mission h3 {
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05em;
}
.mission p {
  font-size: 1.2em;
  letter-spacing: 0.1rem;
  color: #fff;
}

.cheight {
  height: 43vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.cheight img {
  height: 43vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.carousel {
  filter: brightness(80%);
}

.overall {
  border: tan solid 12px;
  border-top: #bda27e solid 12px;
  border-left: #b19876 solid 12px;
  border-bottom: #c9ad86 solid 12px;
  box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient(215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient(circle at right, #111, rgb(51, 51, 51));
  background-color: #fff;
  color: #fff;
  height: auto;
}
.overall h3 {
  font-size: 2.5em;
  font-weight: 600;
  color: #fff;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05em;
}

.blackboard {
  position: relative;
  color: #000;
  transition: 0.3s;
  height: 43vh;
}

.blackboard:before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20px;
  color: #fff;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 0.01em;
  font-family: "Poppins", sans-serif;
}

.form p {
  position: relative;
  margin-bottom: 1em;
  vertical-align: middle;
  font-size: 1.6em;
  color: rgba(238, 238, 238, 0.7);
  line-height: 2.5rem;
  font-weight: 100;
}

/*    =====06.footer====*/
footer {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #fff;
  width: 100%;
}

.footer01 {
  width: 25%;
  padding: 3%;
}

.footer01 img {
  width: 80%;
  padding: 3% 0%;
}

.footer02 {
  width: 25%;
  padding: 3%;
  text-align: left;
}

.footer01 h2 {
  padding-bottom: 3%;
  border-bottom: 5px solid #fff;
  font-family: "Poppins", sans-serif;
}

.footer02 h2 {
  padding-bottom: 3%;
  border-bottom: 5px solid #fff;
  font-family: "Poppins", sans-serif;
}

/*    =====07.footer====*/
.copy {
  display: flex;
  flex-direction: column;
}

.copy h6 {
  margin: 2%;
  color: rgb(75, 74, 74);
  font-family: "Poppins", sans-serif;
}

.copy-cont {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 750px) {
  .blackboard {
    height: auto;
  }
}
.cheight {
  height: auto;
}

.mission {
  height: auto;
}

.fun-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 2%;
  height: auto;
  padding: 1%;
}
.fun-img img {
  height: 25vh;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.hyperlink a {
  text-decoration: underline;
}
.hyperlink .btn {
  background-color: #f8f9fa;
  color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hyperlink .btn:hover {
  background-color: #333;
  color: #fff;
}
.hyperlink .btn:active {
  background-color: #fff;
  color: #333;
}
.hyperlink .btn:focus {
  background-color: #fff;
  color: #222;
}

.ballon_container {
  display: flex;
}

.ballon {
  width: 60px;
  height: 95px;
  padding: 40px;
  display: inline-flex;
  justify-content: space-around;
  margin: auto;
  border-radius: 80%;
  position: relative;
  box-shadow: inset 6px 5px 35px -8px #333222;
  position: relative;
  top: 25%;
  -webkit-animation: moveBallon 20s infinite alternate;
          animation: moveBallon 20s infinite alternate;
}

@-webkit-keyframes moveBallon {
  0% {
    transform: translateY(10px) rotate(0deg);
  }
  10% {
    transform: translateY(40px) rotate(7deg);
  }
  25% {
    transform: translateY(-15) rotate(-7deg);
  }
  50% {
    transform: translateY(-50px) rotate(-4deg);
  }
  100% {
    transform: translateY(-600px) rotate(8deg);
  }
}

@keyframes moveBallon {
  0% {
    transform: translateY(10px) rotate(0deg);
  }
  10% {
    transform: translateY(40px) rotate(7deg);
  }
  25% {
    transform: translateY(-15) rotate(-7deg);
  }
  50% {
    transform: translateY(-50px) rotate(-4deg);
  }
  100% {
    transform: translateY(-600px) rotate(8deg);
  }
}
#balloon1 {
  background-color: rgba(30, 203, 225, 0.8);
  left: 4%;
  top: 15%;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  position: absolute;
}

#balloon2 {
  background-color: rgba(150, 30, 225, 0.8);
  left: 75%;
  top: 75%;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  top: 10%;
  position: absolute;
}

#balloon3 {
  background-color: rgba(225, 52, 30, 0.8);
  left: 5%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#balloon4 {
  background-color: rgba(106, 225, 30, 0.8);
  left: 4%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#balloon1::after {
  border-color: transparent transparent rgb(30, 203, 225) transparent;
}

#balloon1 .thread {
  background-color: rgb(150, 30, 225);
}

#balloon2::after {
  border-color: transparent transparent rgb(150, 30, 225) transparent;
}

#balloon2 .thread {
  background-color: rgb(30, 203, 225);
}

#balloon3::after {
  border-color: transparent transparent rgb(225, 52, 30) transparent;
}

#balloon3 .thread {
  background-color: rgb(106, 225, 30);
}

#balloon4::after {
  border-color: transparent transparent rgb(106, 225, 30) transparent;
}

#balloon4 .thread {
  background-color: rgb(225, 52, 30);
}

.ballon::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -6px;
  border-width: 0px 8px 8px 8px;
  border-style: none solid solid solid;
  border-color: transparent transparent red transparent;
  /* transform: rotate(180deg); */
  z-index: -1;
  left: 44%;
}

.thread {
  height: 90px;
  width: 1px;
  position: absolute;
  border: 1px solid transparent;
  bottom: -95px;
  background-color: red;
  /* border-style: dotted; */
  z-index: -1;
}

.garden1 .card {
  border: 1px solid rgb(175, 170, 170);
  border-radius: 40px;
}
.garden1 img {
  border-radius: 40px;
}
.garden1 .card-body {
  display: none;
}

.garden2 .card {
  border: 1px solid rgb(175, 170, 170);
  border-radius: 40px;
}
.garden2 .card img {
  border-radius: 40px;
}
.garden2 .card-body {
  display: none;
}

.garden1:hover .card {
  border: none;
}
.garden1:hover .card img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 5px;
}
.garden1:hover .card-body {
  display: block;
}

.garden2:hover .card {
  border: none;
}
.garden2:hover .card img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}
.garden2:hover .card-body {
  display: block;
}/*# sourceMappingURL=style.css.map */